@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center; }
  header img {
    margin: 20px;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    font-size: 20px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: 60px;
  gap: 8px;
  flex-direction: row-reverse; }
  .navbar li {
    padding: 4px;
    display: inline;
    flex-direction: row-reverse;
    gap: 5px; }
    .navbar li a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  .navbar :hover {
    color: #f2e63a; }

body {
  background-image: url(../assets/img/mendoza.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ceefd0; }

main section h1 {
  width: auto;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  background-color: rgba(114, 7, 160, 0.473);
  text-align: center; }

main section div p {
  background-color: rgba(114, 7, 160, 0.393);
  color: white;
  font-size: 20px;
  text-align: justify;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.139);
  margin: 5px;
  gap: 10px; }

main section div img {
  display: grid;
  grid-template-columns: 60% 60%;
  padding: 5px;
  justify-self: left;
  column-gap: 10px;
  justify-items: start;
  gap: 5px; }

.grid3 {
  background-color: rgba(114, 7, 160, 0.123);
  color: #fefefc;
  font-size: 23px;
  display: grid;
  grid: template columns 1rf;
  padding: 5px;
  justify-items: center;
  column-gap: 10px;
  gap: 5px; }

.body-nosotros {
  background-image: url(../assets/img/comienzo.jpg); }

.titulos {
  color: white;
  background-color: rgba(114, 7, 160, 0.473);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  justify-content: flex-end; }

.parrafo2 {
  font-size: 30px;
  color: white;
  margin: 10px 10px 10px 10px;
  text-align: justify;
  background-color: rgba(165, 42, 42, 0.107);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-items: center; }

.comienzo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;
  align-items: start;
  padding-bottom: 9px; }
  .comienzo .foto1, .comienzo .foto2, .comienzo .foto3, .comienzo .foto4, .comienzo .foto5, .comienzo .foto6 {
    color: white;
    text-align: center;
    background-color: rgba(114, 7, 160, 0.664);
    border: 1px solid;
    padding-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.body-contacto {
  background-image: url(../assets/img/contactonuevo.jpg); }

form {
  width: auto;
  height: auto;
  align-items: center;
  color: white; }

label {
  display: block;
  margin-bottom: 10px; }

input {
  display: block;
  margin-bottom: 10px; }

input[type="submit"] {
  background-color: #06496a;
  color: lightcyan;
  padding: 10px 15px;
  border: none;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: rgba(114, 7, 160, 0.664); }

.formulario {
  display: flex;
  flex-direction: column; }

.body-combos {
  background-image: url(../assets/img/fondonosotros.jpg); }

.listado {
  color: white;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(114, 7, 160, 0.473);
  text-align: center; }

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 30px; }

.card-1 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 25px; }
  .card-1 .costo {
    background-color: rgba(79, 5, 148, 0.744);
    color: #f0e8e8;
    font-size: 15px; }
  .card-1 .precio1 {
    color: white;
    text-decoration: none; }

.card-2 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 25px; }
  .card-2 .costo2 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-2 .precio2 {
    color: white;
    text-decoration: none; }

.card-3 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 25px; }
  .card-3 .costo3 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-3 .precio3 {
    color: white;
    text-decoration: none; }

.card-4 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 25px; }
  .card-4 .costo4 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-4 .precio4 {
    color: white;
    text-decoration: none; }

.card-5 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-bottom: 25px; }
  .card-5 .costo5 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-5 .precio5 {
    color: white;
    text-decoration: none; }

.card-6 {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 25px; }
  .card-6 .costo6 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-6 .precio6 {
    color: white;
    text-decoration: none; }

.card-7 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-bottom: 25px; }
  .card-7 .costo7 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-7 .precio7 {
    color: white;
    text-decoration: none; }

.card-8 {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-bottom: 25px; }
  .card-8 .costo8 {
    background-color: rgba(79, 5, 148, 0.744);
    color: white;
    font-size: 15px; }
  .card-8 .precio8 {
    color: white;
    text-decoration: none; }

.body-bodegas {
  background-image: url(../assets/img/fondobodega.jpg); }

.titulobodegas {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(114, 7, 160, 0.664);
  text-align: center; }

.bodegasgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center; }

.viñedos1 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  border-radius: 10%;
  background-image: url(../assets/img/algodon.jpg);
  background-repeat: no-repeat;
  justify-content: space-evenly; }

.viñedos2 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  border-radius: 10%;
  background-image: url(../assets/img/alfa-crux.jpg);
  background-repeat: no-repeat;
  justify-content: space-evenly; }

.viñedos3 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  border-radius: 10%;
  background-image: url(../assets/img/atamisque.jpg);
  background-repeat: no-repeat;
  justify-content: space-evenly; }

.viñedos4 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  background-image: url(../assets/img/bodega-trapiche.jpg);
  background-repeat: no-repeat;
  border-radius: 10%;
  justify-content: space-evenly; }

.viñedos5 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  background-image: url(../assets/img/tempus-alba.jpg);
  background-repeat: no-repeat;
  border-radius: 10%;
  justify-content: space-evenly; }

.viñedos6 {
  width: 240px;
  height: 390px;
  margin: 40px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(114, 7, 160, 0.731);
  background-image: url(../assets/img/esteco.jpg);
  background-repeat: no-repeat;
  border-radius: 10%;
  justify-content: space-evenly; }

.social-icons {
  width: 100%;
  height: 50px;
  background-color: violet;
  font-size: 30px;
  text-align: center;
  padding-top: 8px; }

.social-icons a {
  color: #06496a;
  margin: 30px 30px 30px 30px;
  text-decoration: none;
  font-size: 30px; }

.social-icons a:hover {
  color: white; }

@media screen and (max-width: 1024px) {
  .cristian {
    width: auto;
    font-size: 40px;
    justify-content: center; }
  .titulos {
    font-size: 60px; }
  .navbar {
    font-size: small; }
  .social-icons {
    width: auto;
    height: 35px; }
  .grid2 {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 768px) {
  .cristian {
    width: 100%;
    justify-content: center;
    font-size: 50px; }
  .vinopyf {
    font-size: medium; }
  .grid3 {
    grid-template-columns: 1fr;
    justify-items: center; }
  .navbar {
    width: auto;
    flex-direction: column-reverse;
    font-size: medium; }
  .comienzo {
    grid-template-columns: 1fr; }
  .titulos {
    font-size: 40px; }
  .social-icons {
    width: auto;
    height: 5px;
    background-color: rgba(0, 0, 0, 0); }
  .grid2 {
    grid-template-columns: 1fr; }
  .bodegasgrid {
    grid-template-columns: 1fr 1fr; }
  .titulobodegas {
    background-color: rgba(0, 0, 0, 0); }
  .social-icons a {
    color: white; } }

@media screen and (max-width: 425px) {
  .cristian {
    width: auto;
    font-size: 37px;
    justify-items: center; }
  .navbar {
    width: auto;
    flex-direction: column-reverse; }
  .comienzo {
    grid-template-columns: 1fr;
    justify-items: center; }
  .social-icons {
    width: auto;
    height: 35px;
    background-color: rgba(0, 0, 0, 0); }
  .logo {
    width: 100px;
    height: 140px; }
  .section h1 {
    background-color: rgba(114, 7, 160, 0.473); }
  .grid2 {
    grid-template-columns: 1fr; }
  .bodegasgrid {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 375px) {
  .cristian {
    width: auto;
    font-size: 35px;
    justify-content: center; }
  .navbar {
    width: 100%;
    flex-direction: column-reverse; }
  .vinospyf {
    margin: auto; }
  .logo {
    width: 100px;
    height: 160px; }
  .social-icons {
    width: auto;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0); }
  .parrafo {
    text-align: justify;
    font-size: 12px;
    justify-content: space-around;
    grid-template-columns: 1fr;
    margin: 0px; }
  .sectio h1 {
    background-color: rgba(114, 7, 160, 0.473); } }

@media screen and (max-width: 320px) {
  .cristian {
    width: auto;
    font-size: 30px;
    justify-content: center;
    background-color: rgba(114, 7, 160, 0.123); }
  .navbar {
    width: auto;
    flex-direction: column-reverse;
    align-content: center;
    text-decoration: underline; }
  .vinopyf {
    margin: auto; }
  .parrafo2 {
    text-align: center;
    font-size: 10px; }
  .titulos {
    font-size: 30px;
    background-color: rgba(114, 7, 160, 0.123); }
  .logo {
    width: 100px;
    height: 160px; }
  .social-icons {
    width: 100%;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0); }
  .parrafo {
    font-size: 20px;
    justify-content: center;
    padding: 5px 5px 5px 5px; }
  .section h1 {
    background-color: rgba(114, 7, 160, 0.473); }
  .section img {
    width: auto;
    padding: 3px 3px 3px 3px;
    justify-content: space-around; } }
