@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center; }
  header img {
    margin: 20px;
    height: 280px;
    width: 300px;
    border-radius: 50%;
    font-size: 20px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: 25px;
  gap: 8px;
  flex-direction: row-reverse; }
  .navbar li {
    padding: 5px;
    display: inline;
    flex-direction: row-reverse;
    gap: 26px; }
    .navbar li a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  .navbar :hover {
    color: #032b3f; }

body {
  background-image: url(../assets/img/fondoweb5.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ceefd0; }

main section h1 {
  width: auto;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  background-color: rgba(114, 7, 160, 0.473);
  text-align: center; }

main section div p {
  background-color: rgba(114, 7, 160, 0.393);
  color: white;
  font-size: 20px;
  text-align: justify;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.139);
  margin: 5px;
  gap: 10px; }

main section div img {
  display: grid;
  grid-template-columns: 60% 60%;
  padding: 5px;
  justify-self: left;
  column-gap: 10px;
  justify-items: start;
  gap: 5px; }

.grid3 {
  background-color: rgba(114, 7, 160, 0.123);
  color: #fefefc;
  font-size: 23px;
  display: grid;
  grid: template columns 1rf;
  padding: 5px;
  justify-items: center;
  column-gap: 10px;
  gap: 5px; }

.body-nosotros {
  background-image: url(../assets/img/comienzo.jpg); }

.titulos {
  color: white;
  background-color: rgba(114, 7, 160, 0.473);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center; }

.parrafo2 {
  font-size: 30px;
  color: white;
  margin: 5px 5px 5px 5px;
  text-align: center;
  background-color: rgba(165, 42, 42, 0.107); }

.comienzo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px; }

.body-contacto {
  background-image: url(../assets/img/contactonuevo.jpg); }

form {
  width: auto;
  height: auto;
  align-items: center;
  color: white; }

label {
  display: block;
  margin-bottom: 10px; }

input {
  display: block;
  margin-bottom: 10px; }

input[type="submit"] {
  background-color: #06496a;
  color: lightcyan;
  padding: 10px 15px;
  border: none;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: rgba(114, 7, 160, 0.664); }

.formulario {
  display: flex;
  flex-direction: column; }

.body-combos {
  background-image: url(../assets/img/fondo.jpg); }

.listado {
  color: white;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(114, 7, 160, 0.473);
  text-align: center; }

.grid2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center; }

.card-1 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-1 .costo {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-2 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #fffffe;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-2 .costo2 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-3 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #f9f9f4;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-3 .costo3 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-4 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #fefefc;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-4 .costo4 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-5 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #f9f9f7;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-5 .costo5 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-6 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #f6f7f0;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-6 .costo6 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-7 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-7 .costo7 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-8 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #fafaf8;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-8 .costo8 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.card-9 {
  width: 200px;
  height: 199px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  color: #fafaf8;
  text-align: center;
  background-color: #0d0113;
  border-radius: 20px; }
  .card-9 .costos9 {
    background-color: rgba(5, 0, 0, 0.477);
    color: white; }

.body-bodegas {
  background-image: url(../assets/img/fondobodega.jpg); }

.titulobodegas {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(114, 7, 160, 0.664);
  text-align: center; }

.bodegasgrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center; }

.viñedos1 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  background-image: url(../assets/img/tempus-html.webp);
  background-repeat: no-repeat;
  justify-content: end; }

.viñedos2 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  background-image: url(../assets/img/catena.png);
  background-repeat: no-repeat;
  justify-content: end; }

.viñedos3 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  background-image: url(../assets/img/tempus-html.webp);
  background-repeat: no-repeat;
  justify-content: end; }

.viñedos4 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/catena.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.viñedos5 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/tempus-html.webp);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.viñedos6 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/catena.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.viñedos7 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/tempus-html.webp);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.viñedos8 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/catena.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.viñedos9 {
  width: 310px;
  height: 380px;
  margin: 40px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url(../assets/img/tempus-html.webp);
  background-repeat: no-repeat;
  border-radius: 50px;
  justify-content: end; }

.social-icons {
  width: 100%;
  height: 70px;
  background-color: violet;
  font-size: 30px;
  margin-top: 44px;
  text-align: center; }

.social-icons a {
  color: #06496a;
  margin: 30px 30px 30px 30px;
  text-decoration: none;
  font-size: 30px; }

.social-icons a:hover {
  color: white; }

.form-label {
  color: white;
  font-size: 35px;
  margin: 5px;
  padding: 5px; }

.form-control {
  font-size: 45px; }

@media screen and (max-width: 1024px) {
  .cristian {
    width: auto;
    font-size: 40px;
    justify-content: center; }
  .titulos {
    font-size: 60px; }
  .navbar {
    font-size: small; }
  .social-icons {
    width: auto;
    height: 35px; } }

@media screen and (max-width: 768px) {
  .cristian {
    width: 100%;
    justify-content: center;
    font-size: 50px; }
  .vinopyf {
    font-size: medium; }
  .grid3 {
    grid-template-columns: 1fr;
    justify-items: center; }
  .navbar {
    width: auto;
    flex-direction: column-reverse;
    font-size: medium; }
  .comienzo {
    grid-template-columns: 1fr; }
  .titulos {
    font-size: 40px;
    background-color: rgba(114, 7, 160, 0.123); }
  .social-icons {
    width: auto;
    height: 35px; } }

@media screen and (max-width: 425px) {
  .cristian {
    width: auto;
    font-size: 37px;
    justify-items: center; }
  .navbar {
    width: auto;
    flex-direction: column-reverse; }
  .comienzo {
    grid-template-columns: 1fr;
    justify-items: center; }
  .social-icons {
    width: auto;
    height: 35px;
    background-color: rgba(0, 0, 0, 0); }
  .logo {
    width: 100px;
    height: 140px; }
  .section h1 {
    background-color: rgba(114, 7, 160, 0.473); } }

@media screen and (max-width: 375px) {
  .cristian {
    width: auto;
    font-size: 35px;
    justify-content: center; }
  .navbar {
    width: 100%;
    flex-direction: column-reverse; }
  .vinospyf {
    margin: auto; }
  .logo {
    width: 100px;
    height: 160px; }
  .social-icons {
    width: auto;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0); }
  .parrafo {
    text-align: justify;
    font-size: 8px;
    justify-content: space-around;
    grid-template-columns: 1fr;
    margin: 0px; }
  .sectio h1 {
    background-color: rgba(114, 7, 160, 0.473); } }

@media screen and (max-width: 320px) {
  .cristian {
    width: auto;
    font-size: 30px;
    justify-content: center;
    background-color: rgba(114, 7, 160, 0.123); }
  .navbar {
    width: auto;
    flex-direction: column-reverse;
    align-content: center;
    text-decoration: underline; }
  .vinopyf {
    margin: auto; }
  .parrafo2 {
    text-align: center;
    font-size: 10px; }
  .titulos {
    font-size: 30px;
    background-color: rgba(114, 7, 160, 0.123); }
  .logo {
    width: 100px;
    height: 160px; }
  .social-icons {
    width: 100%;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0); }
  .parrafo {
    font-size: 20px;
    justify-content: center;
    padding: 5px 5px 5px 5px; }
  .section h1 {
    background-color: rgba(114, 7, 160, 0.473); }
  .section img {
    width: auto;
    padding: 3px 3px 3px 3px;
    justify-content: space-around; } }
