@media screen and (max-width:320px) {
	.cristian {
		width: auto;
		font-size: 30px;
		justify-content: center;
		background-color: $background-color_15;
	}
	.navbar {
		width: auto;
		flex-direction: column-reverse;
		align-content: center;
		text-decoration: underline;
	}
	.vinopyf {
		margin: auto;
	}
	.parrafo2 {
		text-align: center;
		font-size: 10px;
		
	}
	.titulos {
		font-size: 30px;
		background-color: $background-color_15;
	}
	.logo {
		width: 100px;
		height: 160px;
	}
	.social-icons{
		width:100%;
		height: 35px;
		color: white;
		background-color:rgba(0, 0, 0, 0)
	}
	.parrafo{
		font-size: 20px;
		justify-content:center;
		padding: 5px 5px 5px 5px;
	}
	.section h1 {
		background-color: $background-color_10;

	}
	.section img {
		width: auto;
		padding: 3px 3px 3px 3px;
		justify-content: space-around;
	
	}
}
