@media screen and (max-width:1024px) {
	.cristian {
		width: auto;
		font-size: 40px;
		justify-content: center;
	}
	.titulos {
		font-size: 60px;
	}
	.navbar {
		font-size: small;
	}	
	.social-icons {
		width: auto;
		height: 35px;
	}
	.grid2 {
		grid-template-columns: 1fr 1fr 1fr;
	}
}