.body-bodegas {
	background-image: url(../assets/img/fondobodega.jpg);
}
.titulobodegas {
	color: $color_2;
	font-family: $font-family_1;
	background-color: $background-color_8;
	text-align: center;
}
.bodegasgrid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-items: center;
}
.viñedos1 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	border-radius: 50px;
	background-image: url(../assets/img/tempus-html.webp);
	background-repeat: no-repeat;
	justify-content: end;
}
.viñedos2 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	border-radius: 50px;
	background-image: url(../assets/img/catena.png);
	background-repeat: no-repeat;
	justify-content: end;
}
.viñedos3 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	border-radius: 50px;
	background-image: url(../assets/img/tempus-html.webp);
	background-repeat: no-repeat;
	justify-content: end;
}
.viñedos4 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/catena.png);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}
.viñedos5 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/tempus-html.webp);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}
.viñedos6 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/catena.png);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}
.viñedos7 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/tempus-html.webp);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}
.viñedos8 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/catena.png);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}
.viñedos9 {
	width: 310px;
	height: 380px;
	margin: 40px;
	border: 2px solid;
	display: flex;
	flex-direction: column;
	color: $color_12;
	text-align: center;
	background-color: $background-color_6;
	background-image: url(../assets/img/tempus-html.webp);
	background-repeat: no-repeat;
	border-radius: 50px;
	justify-content: end;
}