.body-combos {
	background-image: url(../assets/img/fondo.jpg);
}
.listado{
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $background-color_10;
    text-align: center; 
}
.grid2 {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-items: center;
	
}
.card-1 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_3;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
	
}
.card-2 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_4;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo2{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
	
}
.card-3 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_5;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo3{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
	
}
.card-4 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_6;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo4{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
	
}
.card-5 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_7;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo5{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
}
.card-6 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_8;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo6{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}	
}
.card-7 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_3;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo7{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
} 
.card-8 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_9;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costo8{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}	
}
.card-9 {
	width: 200px;
	height: 199px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	color: $color_9;
	text-align: center;
	background-color: $background-color_3;
	border-radius: 20px;
	.costos9{
		background-color: rgba(5, 0, 0, 0.477);
        color: white;
	}
	
}