.body-bodegas {
	background-image: url(../assets/img/fondobodega.jpg);
}
.titulobodegas {
	color: $color_2;
	font-family: $font-family_1;
	background-color: $background-color_8;
	text-align: center;
}
.bodegasgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
.viñedos1 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	border-radius: 10%;
	background-image: url(../assets/img/algodon.jpg);
	background-repeat: no-repeat;
	justify-content: space-evenly;
   
}
.viñedos2 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	border-radius: 10%;
	background-image: url(../assets/img/alfa-crux.jpg);
	background-repeat: no-repeat;
	justify-content: space-evenly;
}
.viñedos3 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	border-radius: 10%;
	background-image: url(../assets/img/atamisque.jpg);
	background-repeat: no-repeat;
	justify-content: space-evenly;
}
.viñedos4 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	background-image: url(../assets/img/bodega-trapiche.jpg);
	background-repeat: no-repeat;
	border-radius: 10%;
	justify-content: space-evenly;
}
.viñedos5 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	background-image: url(../assets/img/tempus-alba.jpg);
	background-repeat: no-repeat;
	border-radius: 10%;
	justify-content: space-evenly;
}
.viñedos6 {
	width: 240px;
	height: 390px;
	margin: 40px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	color: $color_2;
	text-align: center;
	background-color: $background-color_9;
	background-image: url(../assets/img/esteco.jpg);
	background-repeat: no-repeat;
	border-radius: 10%;
	justify-content :space-evenly;
}