.body-nosotros {
	background-image: url(../assets/img/comienzo.jpg);
}
.titulos {
	color: $color_2;
	background-color: $background-color_10;
	font-family: $font-family_1;
	text-align: center;
	 justify-content: flex-end;
}
.parrafo2 {
	font-size: 30px;
	color: $color_2;
	margin: 10px 10px 10px 10px;
	text-align: center;
	background-color: $background-color_5;
}
.comienzo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	gap: 10px;
}