
  .social-icons {
	width: 100%;
	height: 50px;
	background-color: $background-color_14;
	font-size: 30px;
	text-align: center;
	padding-top: 8px;
}

.social-icons a {
	color: hsl(200, 89%, 22%);
	margin: 30px 30px 30px 30px;
	text-decoration: none;
	font-size: 30px;
}

.social-icons a:hover {
	color:white;
}


