header {
	display: flex;
	justify-content: space-between;
	margin: 5px;
	align-items: center;
	img{margin: 20px;
		height: 280px;
		width: 300px;
		border-radius: 50%;
		font-size: 20px; 
	}
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: $color_2;
	font-size: 60px;
	gap: 8px;
	flex-direction: row-reverse;
	li {
		a {
			text-decoration: none;
			color: $color_2;
			font-size: 20px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		padding: 4px;
		display: inline;
		flex-direction: row-reverse;
		gap: 5px;
	}
	:hover{
		color: hsl(56, 88%, 59%);
	}
}


